*{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.Kappa{
	background-color: #f5f7fa;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: auto;
}
.separate_Icon{
	padding-right:16px;
}

.medida_slider{
	height: 700px;
}

.search{
	padding:22px 30px;
}

.implementacion{
	position: absolute;
    top: 0;
	bottom: 0;
	padding: 0px;
   
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
	justify-content: center;
	flex-direction: column;
    width: 100%;
    color: #fff;
    text-align: center;
}

#Contactos{
	display: flex;
	justify-content: right;
	align-items: right;
	flex-direction: row;
}
#Redessociales{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
ul{
	width: 100%;
	height: 40px;
	display: block;
	text-decoration: none;
}
ul li{
	display: block;
	float: left;
	text-decoration: none;
	padding: 13px;
}
li a{
	color: #506a85;
		font-size:20px;
	padding: 1px 6px;
	display:block;
	border-top: 5px solid transparent;
	text-decoration: none;
}
li a:hover{
	font-weight: bold;
	text-decoration: none;
}
.Kotarou{
	align-items: center;
}
.mySlides{

}

.alineacion{
	display: flex;
	
}


#center-header{
	height: 534px;
}
#centradito{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.article a, #centradito a{
	background: #54d154;
	color: #fff;
	text-align: center;
	display: block;
	width:205px;
	height: 49px;
	border-radius: 30px;
	padding: 7px 0;
	font-weight: normal;
	font-size: 21px;
	transition: 0.5s ease all;
}

.centrado{
	display: flex;
	justify-content: center;
}

.prueba{
	    display: flex;
    justify-content: center;
    align-items: center;
}

/* Css Eren */
*{
	margin: 0;
	padding: 0;
}
img{
	vertical-align: middle;
}
.bgk-white{
	background-color: #ffffff;
}
.contenedor{
	display: block;
	width: 100%;
}
.pt-2{
	padding-top: 20px;

}
.pt-4{
	padding-top: 40px;
}
.pb-4{
	padding-bottom: 40px;

}
.m-a{
	margin: auto !important;
}
.mt-2{
	margin-top: 20px;
}
.mb-2{
	margin-bottom: 20px;
}
.ml-a{
	margin-left: auto;
}
.mr-a{
	margin-right: auto;
}
.center{
	text-align: center;
}
.row{
	width: 85%;
}
.ctn_titulo{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 70%;
}
.ctn_titulo > h2{
	font-weight: bold;
	font-size: 24px;
}
.ctn_titulo > p {
	font-weight: 100;
	font-size: 17px;
}
.box-center-content{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.box-center-content > img {
	margin: 10px;
	height: 100%;
	width: 20%;
}
.box-center-content > .box-items:first-child{ 
	margin: 20px;
	margin-left: 0px;
}
.box-center-content > .box-items:last-child{
	margin:20px;
	margin-right: 0px;
}

.box-center-content > img{
	margin: 0;
	width: 22%;
}
.box-center-content > i:nth-child(1), .box-center-content > i:nth-child(3){
	color: #506a85;
}
.box-center-content > i:nth-child(2){
	color:#00bc9c;
}
.sub-titulo-sm{
	font-size: 19px;
}
.col-xl-10{
	width: 70%;
}
.col-xl-1{
	width: 8%;
}
.box-items{
	margin: 20px 5px;
}
.box-items > div:first-child{
	display: inline-flex;
	margin:auto;
	width: 80%;
}
.box-items > div:first-child > i, .box-items > div:first-child > p {
	margin:5px 10px;
}
.box-items > div:last-child{
	margin: 0px 10px 10px 60px;
}
.box-items > div:first-child > i{
	color: #00bc9c;
}
.bgk-verde-bajito{
	background-color: #f2f5f7;
}
.box-items > img{
	width: 100%;
}

.box-items > div > p:first-child{
	padding: 10px;
}
.box-items > div > p:last-child{
	padding: 0px 0px 10px;
}
button{
	border: none;
	border-bottom: 2px solid teal;
	background-color: #00bc9c;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 15px;
	padding: 10px 15px;
	width: 150px;
}

.medida_footer{
	height: 250px;
	background: #283645;
}
.texto_color_white{
	color: #a3b1bf;
}

.espaciado_top{
	padding-top: 25px;
}

.medida_imagen{
	width: 165px;
}

.forma1{
	background: #00bc9c;
    width: 75px;
    height: 28px;
    padding-top: 2px;
}

.contactos{
	background-color: #2f4052;
	color: #fff;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: auto;
}

.medida_botton{
	width:11%;
}

.estandar{
	width: 100px!important;
}


/* Large desktop */
@media (min-width: 1200px) {
	.centrado_footer {
		margin-left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 204px;
	}
	.estandar{
		width: 100px!important;
	}

	.medida_footer {
		height: 355px;
		background: #283645;
	}

	.spearador_evento{
		padding-left: 38px!important;
	}

	.sin_padding{
		     margin-left: 0.666667%!important;
	}

	.centrado {
		display: flex;
		justify-content: normal;
	}
  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.medida_slider {
		height: 450px;
	}

	.medida_botton{
	    width: 18%;
	}
	.estandar{
		width: 100px!important;
	}

	.medida_footer {
		height: 355px;
		background: #283645;
	}

	.spearador_evento{
		padding-left: 38px!important;
	}

	.sin_padding{
		     margin-left: 0.666667%!important;
	}

	.centrado {
		display: flex;
		justify-content: normal;
	}
  }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.medida_slider {
		height: 355px;
	}

	.medida_botton{
		width: 22%;
	}
	.estandar{
		width: 100px!important;
	}

	.medida_footer {
		height: auto;

		background: #283645;
	}

	.spearador_evento{
		padding-left: 38px!important;
	}

	.sin_padding{
		     margin-left: 0.666667%!important;
	}

	.centrado_footer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
  }

/* Landscape phones and down */
@media (max-width: 480px) { 
	.medida_slider {
		height: 200px;
	}

	.medida_botton{
		width: 43%;
	}
	.estandar{
		width: 100px!important;
	}

	.medida_footer {
		height: auto;

		background: #283645;
	}

	.spearador_evento{
		padding-left: 38px!important;
	}

	.sin_padding{
		     margin-left: 0.666667%!important;
	}

	.centrado_footer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.box-center-content{
		display: flex!important;
		flex-direction: column!important;
		justify-content: center!important;
	}

	.flex_box_center{
		display: flex;
		justify-content: center;
	}
 }

 /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 480px) and (max-device-width : 640px) {
	.medida_slider {
		height: 200px;
	}

	.medida_botton{
		width: 43%;
	}
	.estandar{
		width: 100px!important;
	}

	.medida_footer {
		height: auto;

		background: #283645;
	}

	.spearador_evento{
		padding-left: 38px!important;
	}

	.sin_padding{
		     margin-left: 0.666667%!important;
	}

	.centrado_footer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.responsive_flexbox{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.flex_box_center{
		display: flex;
		justify-content: center;
	}
 }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.medida_slider {
		height: 200px;
	}

	.medida_botton{
		width: 43%;
	}
	.estandar{
		width: 100px!important;
	}

	.medida_footer {
		height: auto;

		background: #283645;
	}

	.spearador_evento{
		padding-left: 38px!important;
	}

	.sin_padding{
		     margin-left: 0.666667%!important;
	}

	.centrado_footer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.responsive_flexbox{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.flex_box_center{
		display: flex;
		justify-content: center;
	}
 }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) { }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) { }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) { }

/* Large screens ----------- */
@media only screen and (min-width : 1824px) { }

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) { }